{% extends "layout.html" %}

{% block head %}
        <style>
            .container{
                width: 100%;
            }
	    .sticky {
		position: fixed;
		top: 0;
		width: 100%;
	    }

	    .sticky + .content {
		padding-top: 102px;
	    }
	    table, th, td {
		width: 100%;
		border: 1px solid black;
    		border-collapse: collapse;
		text-align: center;
		font-size:14px;
		padding-left: 1px;
		padding-right: 1px;
	    }

        </style>

        {% endblock head %}
{% block container %}

<table>
	<tr>
	<th colspan="11">call</th>
	<th></th>
	<th colspan="11">put</th>
	</tr>
	<tr id="myHeader">
	<th style="background-color: lightblue;">cur_price</th>
	<th style="background-color: lightblue;">OI</th>
	<th style="background-color: lightblue;">Chng_in_OI</th>
	<th style="background-color: lightblue;">Volume</th>
	<th style="background-color: lightblue;">IV</th>
	<th style="background-color: lightblue;">LTP</th>
	<th style="background-color: lightblue;">Net_Chng</th>
	<th style="background-color: lightblue;">BidQty</th>
	<th style="background-color: lightblue;">BidPrice</th>
	<th style="background-color: lightblue;">AskPrice</th>
	<th style="background-color: lightblue;">AskQty</th>
	<th>strike_pr</th>
	<th style="background-color: lightgoldenrodyellow;">cur_price</th>
	<th style="background-color: lightgoldenrodyellow;">OI</th>
	<th style="background-color: lightgoldenrodyellow;">Chng_in_OI</th>
	<th style="background-color: lightgoldenrodyellow;">Volume</th>
	<th style="background-color: lightgoldenrodyellow;">IV</th>
	<th style="background-color: lightgoldenrodyellow;">LTP</th>
	<th style="background-color: lightgoldenrodyellow;">Net_Chng</th>
	<th style="background-color: lightgoldenrodyellow;">BidQty</th>
	<th style="background-color: lightgoldenrodyellow;">BidPrice</th>
	<th style="background-color: lightgoldenrodyellow;">AskPrice</th>
	<th style="background-color: lightgoldenrodyellow;">AskQty</th>
	</tr>
{% for i in data %}
	<tr class="content">
		<td style="background-color:lightblue;"> {{ i["call"]["cur_price"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["OI"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["Chng_in_OI"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["Volume"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["IV"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["LTP"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["Net_Chng"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["BidQty"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["BidPrice"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["AskPrice"]  }} </td>
		<td style="background-color:lightblue;"> {{ i["call"]["AskQty"]  }} </td>
		<td> {{ i["strike_price"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["cur_price"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["OI"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["Chng_in_OI"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["Volume"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["IV"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["LTP"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["Net_Chng"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["BidQty"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["BidPrice"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["AskPrice"]  }} </td>
		<td style="background-color: lightgoldenrodyellow;"> {{ i["put"]["AskQty"]  }} </td>

	</tr>
{% endfor %}
</table>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
	  if (window.pageYOffset > sticky) {
		      header.classList.add("sticky");
		        } else {
				    header.classList.remove("sticky");
				      }
}
</script>

{% endblock container %}
